@media screen and (max-width: 1360px) {
  .header {
    grid-template-rows: 1.5fr 0.5fr 7fr;
    grid-template-columns: 1fr 6fr 2fr; }
    .header-nav {
      grid-row: 2/3;
      grid-column: 2/4; }
    .header-name {
      grid-column: 2/3;
      justify-self: start;
      left: -3px; }
    .header-logo {
      grid-column: 2/3;
      justify-self: start;
      left: 13px; }
    .header-text {
      grid-row: 3/4;
      grid-row-gap: 65px; }
    .header-contacts {
      grid-column: 2/3;
      justify-self: end; }
    .header-title {
      width: 500px;
      font-size: 56px; }
    .header-img {
      transform: none; }
    .header-subtitle {
      width: 320px; }
    .header-buttons {
      display: grid;
      grid-row-gap: 70px;
      max-width: 450px; }
      .header-buttons .link {
        justify-self: center; }
    .header .thumbs {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-row-gap: 15px;
      grid-column-gap: 50px; } }

@media screen and (max-width: 1650px) {
  .header-img {
    transform: none;
    top: 200px; } }

@media screen and (max-width: 992px) {
  .header {
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1.2fr 0.5fr 0.7fr 10fr; }
    .header-name {
      grid-row: 1;
      width: 500px;
      top: -20px;
      left: -3px; }
      .header-name:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 180%;
        border-radius: 50%/30%;
        border: 6px solid #5C2610;
        border-left-color: transparent;
        border-right-color: transparent; }
    .header-logo {
      visibility: hidden; }
    .header-title {
      font-size: 48px; }
    .header-subtitle {
      width: 320px; }
    .header-contacts {
      grid-row: 2/3;
      justify-self: start;
      align-self: start; }
    .header-nav {
      grid-row: 3/4;
      grid-template-columns: repeat(3, auto);
      grid-row-gap: 15px;
      grid-column-gap: 85px; }
    .header-text {
      grid-row: 4/5;
      grid-row-gap: 80px; }
    .header-img {
      position: absolute;
      top: 200px;
      right: -180px;
      width: 800px;
      transform: none; }
    .header-buttons {
      display: grid;
      grid-row-gap: 70px;
      max-width: 450px; }
      .header-buttons .link {
        justify-self: center; } }

@media screen and (max-width: 768px) {
  .header-nav {
    grid-template-columns: repeat(3, auto); }
  .header-subtitle {
    color: #ff591f; } }
