*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-Family: sans-serif;
  margin: 0; }

.link {
  color: #ff591f;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px; }

.button {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background-color: #ff591f;
  padding: 24px 53px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 10px 40px rgba(255, 89, 31, 0.35), 0 9px 46px rgba(255, 89, 31, 0.56); }

.arrow {
  width: 50px;
  border: 0;
  background-color: #fff9e6;
  opacity: 0.5; }

.arrow__left {
  position: relative;
  top: -3px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-right: 10px; }

.circle {
  border-radius: 50%;
  background-color: #ffcd33;
  position: absolute; }
  .circle__small {
    left: -50px;
    top: -30px;
    width: 250px;
    height: 250px;
    z-index: 0; }
  .circle__big {
    right: 200px;
    top: -80px;
    width: 800px;
    height: 800px;
    z-index: 0; }

.container {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 5fr 3fr; }

.header {
  grid-template-rows: 2fr 10fr;
  min-height: 1150px;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff9e6;
  font-size: 18px; }
  .header-logo, .header-nav, .header-contacts, .header-text {
    position: relative; }
  .header-name {
    position: absolute;
    top: 38px;
    left: 0;
    text-transform: uppercase;
    font-size: 70px;
    font-family: Geneva;
    z-index: 3;
    width: 100px;
    line-height: 50px;
    color: #5C2610; }
  .header-logo {
    grid-area: header-logo;
    justify-self: center;
    position: absolute;
    left: 16px;
    top: -27px;
    z-index: 2;
    grid-column: 1/2;
    grid-row: 1/2; }
  .header-nav {
    grid-area: header-nav;
    display: grid;
    grid-template-columns: repeat(6, auto);
    -ms-flex-pack: start;
    justify-content: start;
    grid-column-gap: 30px;
    grid-column: 2/3;
    grid-row: 1/2;
    white-space: nowrap; }
    .header-nav__link {
      text-decoration: none;
      color: #000;
      font-weight: 700;
      font-size: 18px; }
  .header-img {
    position: absolute;
    bottom: -10px;
    right: 0px;
    width: 800px;
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1); }
  .header-contacts {
    grid-area: header-contacts;
    justify-self: center;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    -ms-flex-align: center;
    align-items: center;
    grid-column: 3/4;
    grid-row: 1/2; }
    .header-contacts__link {
      margin-right: 38px;
      text-decoration: none;
      color: #000;
      text-transform: uppercase; }
    .header-contacts-phone {
      font-size: 20px;
      font-weight: 900; }
    .header-contacts-callback {
      display: inline-block;
      font-size: 14px;
      margin: 0; }
      .header-contacts-callback:after {
        content: '';
        width: 100%;
        display: block;
        height: 1px;
        background-color: #000; }
  .header-text {
    grid-area: header-text;
    justify-self: start;
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    max-width: 650px;
    grid-row-gap: 90px; }
  .header-title {
    font-size: 62px;
    margin: 0; }
  .header-subtitle {
    font-size: 22px;
    line-height: 34px; }
  .header-buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 450px; }
    .header-buttons .link:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #ff591f;
      opacity: 0.5; }

.thumbs {
  display: grid;
  grid-template-columns: repeat(3, auto);
  -ms-flex-pack: start;
  justify-content: start;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  grid-column: 1/2;
  grid-row: 5/6; }
  .thumbs__link {
    white-space: nowrap;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-weight: 700; }

.section {
  padding: 5% 0; }
  .section-title {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 55px; }
  .section-description {
    grid-column: 2/3;
    grid-row: 2/3;
    color: #666666;
    font-size: 22px;
    line-height: 1.6;
    font-weight: 300; }

.about-row {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, -webkit-max-content));
  grid-template-columns: repeat(auto-fill, minmax(25%, max-content));
  -ms-flex-pack: justify;
  justify-content: space-between; }

.about-col {
  display: grid;
  padding: 25% 0;
  grid-template-rows: 250px;
  grid-auto-rows: auto;
  -ms-flex-align: end;
  align-items: end;
  justify-items: center; }

.about__img {
  height: 250px;
  width: 250px; }

.about__img1 {
  height: 200px; }

.about__title {
  color: #ff591f;
  font-size: 90px;
  margin: 0;
  margin-top: -60px; }

.about__text {
  -ms-flex-item-align: start;
  align-self: start; }

@media screen and (max-width: 1650px) {
  .header-img {
    -webkit-transform: none;
    transform: none;
    top: 210px; }
  .about-row {
    grid-template-columns: repeat(auto-fill, minmax(50%, -webkit-max-content));
    grid-template-columns: repeat(auto-fill, minmax(50%, max-content)); }
  .about-col {
    padding: 0; }
  .about__img {
    height: 200px;
    width: 200px; }
  .about__img1 {
    height: 150px; }
  .about__title {
    font-size: 70px; } }

@media screen and (max-width: 1360px) {
  .container {
    grid-template-columns: 1fr 5fr 2fr; }
  .header {
    grid-template-rows: 1.5fr 0.5fr 7fr; }
    .header-nav {
      grid-row: 2/3;
      grid-column: 2/4; }
    .header-name {
      grid-column: 2/3;
      justify-self: start;
      left: -3px; }
    .header-logo {
      grid-column: 2/3;
      justify-self: start;
      left: 13px; }
    .header-text {
      grid-row: 3/4;
      grid-row-gap: 65px; }
    .header-contacts {
      grid-column: 2/3;
      justify-self: end; }
    .header-title {
      width: 500px;
      font-size: 56px; }
    .header-subtitle {
      width: 320px; }
    .header-img {
      -webkit-transform: scale(-1, 1);
      transform: scale(-1, 1);
      top: 360px;
      right: -25px;
      width: 700px; }
    .header-buttons {
      display: grid;
      grid-row-gap: 70px;
      max-width: 450px; }
      .header-buttons .link {
        justify-self: center; } }

@media screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr 8fr 1fr; }
  .header {
    grid-template-rows: 1.5fr 0.7fr 1fr 12fr; }
    .header-name {
      grid-row: 1;
      width: 500px;
      top: -20px;
      left: -3px; }
      .header-name:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 40%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 90%;
        height: 180%;
        border-radius: 50%/30%;
        border: 6px solid #5C2610;
        border-left-color: transparent;
        border-right-color: transparent; }
    .header-logo {
      visibility: hidden; }
    .header-title {
      font-size: 48px; }
    .header-subtitle {
      width: 320px; }
    .header-contacts {
      grid-row: 2/3;
      justify-self: start;
      align-self: start; }
    .header-nav {
      grid-row: 3/4;
      grid-template-columns: repeat(3, auto);
      grid-row-gap: 15px;
      grid-column-gap: 85px; }
    .header-text {
      grid-row: 4/5;
      grid-row-gap: 80px; }
    .header-img {
      position: absolute;
      top: 415px;
      right: -100px;
      width: 600px;
      -webkit-transform: scale(-1, 1);
      transform: scale(-1, 1); }
    .header-buttons {
      display: grid;
      grid-row-gap: 50px;
      max-width: 450px; }
      .header-buttons .link {
        justify-self: center; }
  .section-title {
    font-size: 48px; }
  .section-description {
    font-size: 18px; } }

@media screen and (max-width: 768px) {
  .header-nav {
    grid-template-columns: repeat(2, auto); } }

@media screen and (max-width: 567px) {
  .container {
    grid-template-columns: repeat(auto); }
  .header {
    grid-auto-rows: 1.2fr 0.5fr 0.7fr 6fr; }
    .header-nav {
      grid-template-columns: auto auto;
      grid-gap: 10px; }
    .header-img {
      width: 600px; }
  .about-row {
    grid-template-columns: repeat(auto-fill, minmax(100%, -webkit-max-content));
    grid-template-columns: repeat(auto-fill, minmax(100%, max-content)); }
  .about-col {
    padding: 0; } }
